body {
	font-size: 14px;
}

ul, ul>span {
	font-size: 1.5em;
}

li>ul>li {
	font-size: 0.6em;
}

li {
	margin: 10px;
}

em {
	font-weight: bold;
}

.be_important {
	color: red;
}
.illustration {
	list-style-type: none;
}